body{width:100%;background: #E9E9E9;max-width: 750px;font-weight: bold ;}
body, div, ul, ol, h1, h2 {
	margin: 0;
	padding: 0
}
img {
	border: 0
}
li {
	list-style: none;
	margin: 0;
	padding: 0
}
a {
  color: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none
}
a:hover,a:visited,a:link{
  color: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none

}
hr{margin: 0px 0px;}
.row{margin:0 ;padding:0;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
button{border: 0px}
input{border: 0px}
label{font-weight:700;}


.clearboth{clear:both;}
.main-container{width:100%;background: #E9E9E9;}
.div-50{height:50px;width:100%;}
.div-20{height:20px;width:100%;}
.div-10{height:10px;width:100%;}
.div-40{height:40px;width:100%;}
.div-5{height:5px;width:100%;}
.div-2{height:2px;width:100%;}
.div-4{height:4px;width:100%;}
/*button*/
.signup{text-align: center;margin:32px 0px 10px 0px;border-radius: 4px 4px;width:60px;font-size: 16px;color: #ffffff;padding:3px 5px;max-width: 800px;}
.signup.active{background: #67C2C6;}
.signup.default{background: #CCCCCC;}
.signup.small{margin:32px 0px;border-radius: 4px 4px;width:50px;font-size: 14px;color: #ffffff;padding:3px 3px;}
.signup.big{width:100%;font-size: 16px;line-height: 36px;}
.sighup-big-container{width:80%;margin: 0px 10%;}

/*输入框*/
.inputline{border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;width: 100%;height:50px;padding:13px 12px;font-size: 16px;color: #999999;background: #ffffff;}
.inputline.bigline{height:70px;padding:22px 12px;vertical-align:middle;font-size: 16px;color: #999999;background: #ffffff;}
.inputline.bigline img{margin-top: -8px;}

.inputline-topline{border-top: 1px  solid #dddddd;width: 100%;height:50px;padding:13px 12px;font-size: 16px;color: #999999;background: #ffffff;}
.inputline-bottomline{border-bottom:1px  solid #dddddd;width: 100%;height:50px;padding:13px 12px;font-size: 16px;color: #999999;background: #ffffff;}
.inputline-noline{width: 100%;height:50px;padding:13px 12px;font-size: 16px;color: #999999;background: #ffffff;}

.p-center{text-align: center;}
.p-left{text-align: left;}
.p-right{text-align: right;}
.smalllink{font-size: 14px;}
/*浮动*/
.f-left{float: left;}
.f-right{float: right;}
/*文字颜色*/
.green{color:#67C2C6;}
.red{color:#F55252;}
.opacity-5{opacity: 0.5;}
.orange{color:#FDA843;}
.black{color: #333;}
.yellow{color:#F6A60D;}
.black-shallow{color:#666666;}
/*背景颜色*/
.gray-shallow{background: #F9F9F9;}
.gray{background:#E9E9E9; }
.text-gray{color:#E9E9E9;}
.bg-red{background-color:#F55252;}
.bg-white{background: #ffffff;}

/*个人中心相关*/
.admin .signup.big{width:100%;margin:0px 0px;}
.admin{min-height:100%;}





