 .search-send{font-size:14px;width:100%;padding:10px 10px;bottom:0px;z-index:9;background:#F0F0F2;max-width: 800px;}
.search-button{text-align:center;float:right;width:20%;padding:3px 5px;border-radius: 30px 30px;background:#CCCCCC; color: #ffffff;}

 .search-input{width:76%;padding:3px 5px;border-radius: 30px 30px;background:#ffffff; color: #666666;}
