  /*图文列表*/
  .info-list-container{width:100%;background:#ffffff;padding:0px 12px}
  .info-list-wrapper{width:100%;min-height: 82px;}
  .info-list-wrapper img{width:40px;height:40px;border-radius: 20px 20px;}
  .info-list-wrapper .center-list{margin: 5px 5px}


  .info-list-title{font-size: 16px;color: #333333;margin-bottom:5px;line-height: 16px;}
  .info-list-content{font-size: 13px;color: #999999;margin:5px 0px;}
  .info-list-bottom{line-height:16px;margin:5px 0px;}
  .info-list-bottom .left{font-size: 13px;padding-right: 15px;}
  .info-list-bottom .icon{padding-right: 5px;}
  .info-list-bottom img{width:10px;height:10px;margin-top: -3px;}
  .info-list-bottom .right{font-size: 13px;color: #999999;padding-top: 2px;}
  .info-list-bottom .right.green{color:#67C2C6;}
  .info-list-container hr{margin:8px 0px 0px 0px;}

#wrapper{position:relative;}
#pullDown{display:none;background: #ffffff;text-align: center;}
#scroller{position:relative;margin-top:0px;width:100%;}